<a href="https://colab.research.google.com/github/Stuti-Agarwal-98/CMPE-272-GitHub-jenkins/blob/main/256_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [36]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
## Loading Data
Nov_df = pd.read_csv('/content/drive/My Drive/256 Project/2019-Nov.csv',nrows=10000 ,sep=',',engine='python')
Oct_df = pd.read_csv('/content/drive/My Drive/256 Project/2019-Oct.csv',nrows=10000 ,sep=',',engine='python')
#Nov_df.describe(include='all')
Oct_df.head(20)

                 event_time  ...                          user_session
0   2019-10-01 00:00:00 UTC  ...  72d76fde-8bb3-4e00-8c23-a032dfed738c
1   2019-10-01 00:00:00 UTC  ...  9333dfbd-b87a-4708-9857-6336556b0fcc
2   2019-10-01 00:00:01 UTC  ...  566511c2-e2e3-422b-b695-cf8e6e792ca8
3   2019-10-01 00:00:01 UTC  ...  7c90fc70-0e80-4590-96f3-13c02c18c713
4   2019-10-01 00:00:04 UTC  ...  c6bd7419-2748-4c56-95b4-8cec9ff8b80d
5   2019-10-01 00:00:05 UTC  ...  0d0d91c2-c9c2-4e81-90a5-86594dec0db9
6   2019-10-01 00:00:08 UTC  ...  4fe811e9-91de-46da-90c3-bbd87ed3a65d
7   2019-10-01 00:00:08 UTC  ...  6280d577-25c8-4147-99a7-abc6048498d6
8   2019-10-01 00:00:10 UTC  ...  ac1cd4e5-a3ce-4224-a2d7-ff660a105880
9   2019-10-01 00:00:11 UTC  ...  406c46ed-90a4-4787-a43b-59a410c1a5fb
10  2019-10-01 00:00:11 UTC  ...  b5bdd0b3-4ca2-4c55-939e-9ce44bb50abd
11  2019-10-01 00:00:11 UTC  ...  50a293fb-5940-41b2-baf3-17af0e812101
12  2019-10-01 00:00:13 UTC  ...  98b88fa0-d8fa-4b9d-8a71-3dd403afab85
13  2019-10-01 00:00:15 UTC  ...  72d76fde-8bb3-4e00-8c23-a032dfed738c
14  2019-10-01 00:00:16 UTC  ...  7f0062d8-ead0-4e0a-96f6-43a0b79a2fc4
15  2019-10-01 00:00:17 UTC  ...  17566c27-0a8f-4506-9f30-c6a2ccbf583b
16  2019-10-01 00:00:18 UTC  ...  e3151795-c355-4efa-acf6-e1fe1bebeee5
17  2019-10-01 00:00:18 UTC  ...  901b9e3c-3f8f-4147-a442-c25d5c5ed332
18  2019-10-01 00:00:19 UTC  ...  7c90fc70-0e80-4590-96f3-13c02c18c713
19  2019-10-01 00:00:19 UTC  ...  c6bd7419-2748-4c56-95b4-8cec9ff8b80d

[20 rows x 9 columns]

In [39]:
#product_unique=Nov_df['product_id'].value_counts()
#product_unique
#Oct_df['product_id'].value_counts()
Oct_df[Oct_df['product_id']==1004856]
#Oct_df.info()

                   event_time  ...                          user_session
79    2019-10-01 00:01:06 UTC  ...  94c1a98c-41a3-401e-ad99-439beac4495c
91    2019-10-01 00:01:17 UTC  ...  4938043e-e50f-44ad-944d-958d04df62d6
129   2019-10-01 00:01:46 UTC  ...  8187d148-3c41-46d4-b0c0-9c08cd9dc564
142   2019-10-01 00:01:59 UTC  ...  d6f9a1f2-f96f-4220-b393-ec697a3183c5
162   2019-10-01 00:02:14 UTC  ...  8187d148-3c41-46d4-b0c0-9c08cd9dc564
...                       ...  ...                                   ...
9739  2019-10-01 02:36:51 UTC  ...  73624df5-835e-49eb-ac8b-4ef7ee26f071
9745  2019-10-01 02:36:51 UTC  ...  65862fc0-059a-4a41-8aa5-852e37202708
9752  2019-10-01 02:36:52 UTC  ...  d0132069-5827-4ebf-a1b3-b16496c9b396
9764  2019-10-01 02:36:53 UTC  ...  618e9a0d-92f7-490f-88bc-6f0b01d0c9f1
9773  2019-10-01 02:36:54 UTC  ...  4d49cbe8-007a-4fbd-ad5a-944eabdcee12

[128 rows x 9 columns]

In [33]:
print(Oct_df.isnull().sum())

event_time          0
event_type          0
product_id          0
category_id         0
category_code    3277
brand            1442
price               0
user_id             0
user_session        0
dtype: int64

In [10]:
## hierarchical code - we can split by digits into up to 3 levels
print(Nov_df["category_code"].sample(frac=0.01).nunique())
Nov_df["category_code"].value_counts()

6

electronics.smartphone         474
computers.notebook              66
electronics.clocks              56
electronics.video.tv            56
electronics.audio.headphone     55
                              ...
electronics.audio.acoustic       1
apparel.dress                    1
auto.accessories.winch           1
computers.components.memory      1
computers.components.hdd         1
Name: category_code, Length: 66, dtype: int64

In [11]:
Nov_df["category_code_level1"] = Nov_df["category_code"].str.split(".",expand=True)[0].astype('category')
#Nov_df['category_id_right_3'] = Nov_df['category_id'].str[-3:]


print(Nov_df["category_code_level1"].nunique())
Nov_df["category_code_level1"].value_counts()

10

electronics     686
computers       134
appliances      125
apparel         115
furniture       111
construction     53
auto             21
kids             14
accessories       7
sport             4
Name: category_code_level1, dtype: int64

In [15]:
Nov_df.head(20)["category_code"].str.split(".",expand=True)[1]

0         smartphone
1     sewing_machine
2                NaN
3            kitchen
4         smartphone
5           notebook
6           notebook
7                NaN
8                NaN
9         smartphone
10       living_room
11           kitchen
12           kitchen
13               NaN
14           kitchen
15               NaN
16               NaN
17               NaN
18        smartphone
19          notebook
Name: 1, dtype: object

In [22]:
#Nov_df['category_id_right_3'] = Nov_df['category_id'].int(str(x)[-3:])
import math
Nov_df['category_id_right_3']=abs(Nov_df['category_id']) % 1000
Nov_df['category_id_right_3']

0       655
1        35
2       655
3       923
4       655
       ...
1995    734
1996    655
1997    243
1998    403
1999    167
Name: category_id_right_3, Length: 2000, dtype: int64